apyori==1.1.1
beautifulsoup4==4.6.0
bokeh==1.0.4
fuzzywuzzy==0.16.0
holoviews==1.11.2
langdetect==1.0.7
linkedin-scraper==2.2.0
lxml==4.2.5
matplotlib==2.0.0
networkx==2.2
numpy==1.14.5
pandas==0.20.2
polyglot==16.7.4
request==2018.11.20
requests==2.21.0
scikit-learn==0.18.2
scipy==0.19.1
seaborn==0.9.0
selenium==3.141.0
sklearn==0.0
tqdm==4.19.5
urllib3==1.24.1
wikipedia==1.4.0